.navbar
    position: fixed
    top: 0
    width: 100%
    height: $navbar-height
    background: white
    box-shadow: 0 0 4px $grey
    z-index: 999

    .fa-heartbeat
        vertical-align: middle
        margin-right: 10px

.navbar-brand
    //color: $primary

@import 'navbar/humburguer'
@import 'navbar/menu'