.navbar
    position: fixed
    top: 0
    width: 100%
    height: $navbar-height
    box-shadow: 0 0 4px $grey

    .fa
        vertical-align: middle
        margin-right: 10px

.navbar-brand
    color: $primary


@import 'navbar/humburguer'