nav.navbar.navbar-expand-md
    a(href="/").navbar-brand
        span#page-brand-icon.fa.fa-heartbeat.fa-2x
        span.navbar-brand-name Doe Sangue

    #navbar-left.collapse.navbar-collapse
        ul.nav.mr-auto
            li.nav-item
                a(href="#").nav-link Descarregar app

    #navbar-right
        .collapse.navbar-collapse
            ul.nav
                li.nav-item
                    a(href="#").nav-link Entrar

    #overlay

    // O texto da página foi ajustado para pt-PT
    #nav-menu
        ul.nav
            li.nav-item.d-block.d-md-none
                a(href="#").nav-link
                    |Entrar
                    span.fa.fa-sign-in
            li.nav-item
                a(href="/").nav-link.active
                    |Início
                    span.fa.fa-home
            // Colocado nesta posição propositadamente
            li.nav-item.d-block.d-md-none
                a(href="#").nav-link
                    |Descarregar app
                    span.fa.fa-mobile
            li.nav-item
                a(href="juntar.html").nav-link
                    |Junte-se a nós
                    span.fa.fa-users
            li.nav-item
                a(href="sobre.html").nav-link
                    |Sobre nós
                    span.fa.fa-heartbeat
            li.nav-item
                a(href="missao.html").nav-link
                    |Nossa missão
                    span.fa.fa-heart
            li.nav-item
                a(href="fale.html").nav-link
                    |Fale connosco
                    span.fa.fa-phone

        ul#social-media-nav.list-unstyled.text-center
            li
                a(href="https://www.facebook.com/doesangue.me/")
                    span.fa.fa-2x.fa-facebook-square
            li
                a(href="https://twitter.com/doesangue_me")
                    span.fa.fa-2x.fa-twitter-square
            li
                a(href="https://github.com/doesangueorg")
                    span.fa.fa-2x.fa-github-square

    include navbar/humburguer