%reseting-ul {

	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;

	margin-before: 0em;
	margin-after: 0em;
	margin-start: 0px;
	margin-end: 0px;
	padding-start: 0px;

	-moz-margin-before: 0em;
	-moz-margin-after: 0em;
	-moz-margin-start: 0px;
	-moz-margin-end: 0px;
	-moz-padding-start: 0px;
}

%animate-transition{
	
	-webkit-transition: transform .3s ease-in-out;
	-moz-transition: transform .3s ease-in-out;
	-ms-transition: transform .3s ease-in-out;
	-o-transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
}