.hero
  .container
    .vertical-align
      .vertical-wrapper
        .row
          .content.col-sm-12
            h1.hero-title
              | Contato
              br
            p
              | A doação de sangue é um processo seguro, que não oferece riscos ao doador e que normalmente dura entre 10 e 12 minutos.            

