.container
    .hero.row
        .col-md-6
            h1
                |Doe sangue, e salve até 4 pessoas.
                br
                |A solidariedade dá-lhe as boas-vindas.
            p A doação de sangue é um processo seguro, que não oferece riscos ao doador e que normalmente dura entre 10 e 12 minutos
        .col-md-6